.lowerMenuWrapper {
  display: flex;
  color: #777;
  padding: 10px 15px;
  font-size: 14px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);
  justify-content: space-around;
}

.lowerMenuText,
.lowerMenuClearBtn {
  float: left;
  margin: 8px 4px 8px 4px;
}

.lowerMenuClearBtn {
  cursor:pointer;
}
.hiden{
  visibility: hidden;
}

.lowerMenuLinks {
  display: flex;
  justify-content: center;
}

.lowerMenuLink {
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor:pointer;
}

.lowerMenuLink:hover{
  border-color: rgba(175, 47, 47, 0.1);
}
.selected{
  border-color: rgba(175, 47, 47, 0.2);
}