.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  color: #777;
  text-decoration: none;
}
.footerLink{
  text-decoration: none;
  color: #777;
  cursor: pointer;
}